mixin sidebar(activeLink)
  - const links = ['Home', 'Benefit Runs', 'Programs', 'Employees']
  - const accordions = [{title: 'Reports', links: ['Contribution', 'ADP']}, {title: 'Settings', links: ['Bank Account', 'Company', 'Pay Schedule', 'Profile', 'Integrations']}]
  - const accordionsLinks = accordions.map(item => item.links).reduce((prev, current) => prev.concat(current))
  - const allLinks = [...links, ...accordionsLinks]
  - const routes = allLinks.map(link => `/${link.replace(' ', '-').toLowerCase()}`)

  nav.sidebar
    .sidebar__nav-list
      each link, index in links
        - const route = routes[index]

        - if (link === activeLink)
          .sidebar__nav-item.sidebar__nav-item--active
            a(href!= route)
              +icon(link)
              | #{link}
        - else
          .sidebar__nav-item
            a(href!= route)
              +icon(link)
              | #{link}

      .sidebar__accordions        
        each accordion, accordionIndex in accordions
          .sidebar__nav-item.sidebar__nav-item--accordion.accordion
            .accordion__icon
              include /icons/expand
            a
              +icon(accordion.title)
              | #{accordion.title}
            .accordion__panel
              each link, index in accordion.links
                - const route = routes[index + links.length + accordionIndex + 1]
                - console.log(accordionIndex)

                - if (link === activeLink)
                  .sidebar__nav-item.sidebar__nav-item--active
                    a(href!= route)
                      +icon(link)
                      | #{link}
                - else
                  .sidebar__nav-item
                    a(href!= route)
                      +icon(link)
                      | #{link}



mixin icon(name)
  case name
    when 'Home'
      include /icons/sidebar/home
    when 'Benefit Runs'
      include /icons/sidebar/benefit-runs
    when 'Programs'
      include /icons/sidebar/programs
    when 'Employees'
      include /icons/sidebar/employees
    when 'Reports'
      include /icons/sidebar/report
    when 'Settings'
      include /icons/sidebar/settings